.index{
  display: flex;
  background-color: #e1e4e8;
  .left-nav{
    min-height: 100vh;
    flex: 0 0 256px;
    background-color: #001529;
    overflow-y: auto;
  }
  .container{
    flex: 1;
    .top-nav{
      position: relative;
      display: flex;
      align-items: center;
      height: 64px;
      padding: 0 16px;
      background: #fff;
      box-shadow: 0 1px 4px rgba(0,21,41,.08);
      justify-content: flex-end;
    }
    .content{
      margin: 16px;
    }
  }
}